<h1 class="">We provide quality education<br/> for all people</h1>
<MudCarousel Class="mud-width-full" Style="height:600px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">

    <MudCarouselItem Transition="transition" Color="@Color.Primary">

        <div class="d-flex" style="height:100%">

            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Uncategorized.ChessPawn" Size="@Size.Large"/>

        </div>

    </MudCarouselItem>

    <MudCarouselItem Transition="transition" Color="@Color.Secondary">

        <div class="d-flex" style="height:100%">

            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.Apple" Size="@Size.Large"/>

        </div>

    </MudCarouselItem>

    <MudCarouselItem Transition="transition">

        <div class="d-flex" style="height:100%">

            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.Calculator" Color="@Color.Primary" Size="@Size.Large"/>

        </div>

    </MudCarouselItem>

</MudCarousel>
@code {

    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

}