@page "/lectures/{url}"
@inject ILectureService LectureService
@using Elearn.BlazorWASM.Pages.Lectures.UIComponents
@using Elearn.HttpClients.Service
@using Elearn.Shared.Dtos
@using Elearn.BlazorWASM.Pages.Comments.UIComponents


@if (_currentLecture == null)
{
    <span>Getting the blog post...</span>
}
else
{
    <MudText Align="Align.Center" Typo="Typo.h3" Class="mt-1 my-9"> @_currentLecture.Title </MudText>
    <MudImage Class="card-img" Src="@_currentLecture.Image" ObjectFit="ObjectFit.Contain" Height="200"></MudImage>
    <MudCard Class="mx-auto pa-6 mt-12">
        @((MarkupString)_currentLecture.Body)
    </MudCard>
}
<LectureVote url="@_currentLecture.Url"></LectureVote>
<CreateComment CurrentLecture="@_currentLecture"></CreateComment>
<Comments Url="@Url"></Comments>


@code {
    private LectureDto? _currentLecture;

    [Parameter]
    public String? Url { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Url != null) _currentLecture = await LectureService.GetLectureByUrlAsync(Url);
    }

}