@page "/SearchQuestions"

@using Elearn.HttpClients.Service
@using Elearn.Shared.Dtos
@inject ISearchService SearchService 
@using Elearn.BlazorWASM.Pages.Questions.UIComponents
@inject IStringLocalizer<App> Localizer

<h3>@Localizer["Search Qestions"]</h3>

<MudTextField Class="mb-5" @bind-Value="_searchInput" Label="Search" Variant="Variant.Text"></MudTextField>

<MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="@(() => OnSearchAsync())">@Localizer["Search"]</MudButton>
<br/>
<br/>
@if (string.IsNullOrWhiteSpace(_searchInput))
{
    <p></p>
}
else
{
    @if (_questions is null)
    {
        <p>@Localizer["Loading"]...</p>
        return;
    }
    else
    {
        @if (_questions.Count == 0)
        {
            <p>@Localizer["No results found"]</p>
            return;
        }
        else
        {
            @foreach (var question in _questions)
            {
                <QuestionCard QuestionDto="@question"></QuestionCard>
            }
        }
    }
}

@code {
    private string _searchInput = string.Empty;
    private List<QuestionDto>? _questions;

    private async Task OnSearchAsync()
    {
        if (!string.IsNullOrWhiteSpace(_searchInput))
        {
            _questions = null;
            _questions = await SearchService.SearchQuestionsAsync(_searchInput);
        }
    }

}