@page "/SearchLectures"
@using Elearn.HttpClients.Service
@using Elearn.Shared.Dtos
@inject ISearchService SearchService 
@using Elearn.BlazorWASM.Pages.Lectures.UIComponents
@inject IStringLocalizer<App> Localizer



<h3> @Localizer["search-lectures-text"]</h3>

<MudTextField @bind-Value="_searchInput" Label="Search" Variant="Variant.Text"></MudTextField>

<MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="@(() => OnSearchAsync())">@Localizer["search-text"]</MudButton>

@if (string.IsNullOrWhiteSpace(_searchInput))
{
    <p>@Localizer["search-for-item-text"]</p>
}
else
{
    @if (_lectures is null)
    {
        <p>@Localizer["loading-text"]</p>
    }
    else
    {
        @if (_lectures.Count == 0)
        {
            <p>@Localizer["no-results-found.text"]</p>
        }
        else
        {
            @foreach (var lecture in _lectures)
            {
                <LectureCard Lecture="@lecture"></LectureCard>
            }
        }
    }
}

@code {
    private string _searchInput = string.Empty;
    private List<LectureDto>? _lectures;

    private async Task OnSearchAsync()
    {
        _lectures = null;
        _lectures = await SearchService.SearchLecturesAsync(_searchInput);
    }

}