@inject IStringLocalizer<App> Localizer


<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <img width="600" src="https://i.kym-cdn.com/entries/icons/original/000/002/144/You_Shall_Not_Pass!_0-1_screenshot.jpg"/>
                    <p> @Localizer["You-ll-have-to-log-in-text "]</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle> @Localizer["not-found-text "]</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert"> @Localizer["sorry-there-is-nothing-at-this-address-text"]</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>